
body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif, "Times New Roman", Times, serif;
    font-size: 16px;
    line-height: 100%;
    color: #333;
    background:lightsteelblue;
}
header {
    background: #333;
  }
  
h1 {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #eee;
    text-align: center;
  }

#figure{
    position: relative;
    left: 3%;
}

.bio{
    float: right;
    width: 60%;
    font-size: 14px;
}

#personal{
    position: relative;
    text-align: left;
    margin-right: 5px;
    margin-left: 5px;
}
.list{
    position: relative;
    text-align: center;
    list-style-type: none;
}